
          <div class="d-flex flex-column justify-content-center align-items-center align-items-md-center align-items-lg-center card-body" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;min-height: 100%;">
            <h2 class="text-start" style="font-family: Arial;">Registration</h2>
            <form class="d-inline-flex flex-column align-items-center form-inline" [formGroup]="registerForm" (keydown.enter)="onSubmit()" style="padding: 10px;min-width: 250px;">
              <input class="form-control" type="name" formControlName="name" placeholder="Name" autocomplete="on" style="margin-bottom: 15px;">
              <input class="form-control" type="email" formControlName="email" placeholder="Email address" inputmode="email" autocomplete="on" style="margin-bottom: 15px;">
              <input class="form-control" type="password" formControlName="password" placeholder="*********" style="margin-bottom: 15px;">
              <button class="btn btn-primary" [disabled]="!isFormValid()" (click)="onSubmit()"  type="button">Register</button>
            </form>
            <input class="form-control-plaintext" routerLink="/account/login" type="text" value="Already have an account?" style="text-align: center;font-size: 12px;font-family: Arial;color: rgb(150,157,164);transform: perspective(1520px);min-width: 200px;">
          </div>
