<div  class="row mt-3" *ngIf="members!.length > 0; else membersNotAvailable">
  <div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
  <div class="col-3">
    <div class="row" *ngFor="let member of members">
      <h4 class="col-12 clickTD" [routerLink]="member.id" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        {{member.firstName}} {{member.lastName}}<br />
      </h4>
    </div>
  </div>
  <div class="col-9">
    <router-outlet></router-outlet>
  </div>
</div>
<ng-template #membersNotAvailable>
  <h1 class="text-center">Er zijn geen leden.</h1>
</ng-template>
