<div class="p-4">
  <div class="container" style="background: #ededed; border: 1px solid rgb(194,194,194);border-radius: 5px;">
    <div class="row">
      <nav mat-tab-nav-bar>
        <a mat-tab-link routerLink="./loten" label="Loten" routerLinkActive="active">Loten</a>
        <a mat-tab-link routerLink="./leden" label="Leden" routerLinkActive="active">Leden</a>
        <a mat-tab-link routerLink="./leningen" label="Leningen" routerLinkActive="active">Leningen</a>
      </nav>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
